.gradientBackground {
  width: 100%;
  height: 60px;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(180deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
}


:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
}
