.item {
  font-family: monospace;
  color: white;
  font-size: 24px;
  float: left;
  text-align: center;
  padding: 14px 20px;
}

.item:hover {
  text-shadow: 0 0 20px whitesmoke;
  cursor: pointer; 
} 