.carousel_flex_container {
  display: flex;
  width: 75vw;
  height: 40vh;
  overflow: hidden;
}
img {
  width: 75vw;
  height: 40vh;
}

@keyframes imageCurrent {
  0% {
    width: 0px;
  }
  100% {
    width: 75vw;
  }
}
@keyframes image {
  0% {
    width: 75vw;
  }
  100% {
    width: 0px;
  }
}
.image {
  animation-name: image;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.image.current {
  animation-name: imageCurrent;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.arrow {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 3rem 0.5rem;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.arrow:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.left {
  bottom: calc(20vh + 3.5rem);
}
.right {
  bottom: calc(20vh + 3.5rem);
  left: 75vw;
  transform: translate(-200%, 0);
}
